<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>quizz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-card-title class="title">HISTOIRE : Le Walo</ion-card-title>
  </ion-card-header>

  <ion-card class="card">
    <ion-card-title class="question">1) Quel titre portait le roi du walo ?</ion-card-title>

      <div class="reponse">
        <span>Damel</span> 
      </div>
      <div class="reponse">
        <span>Bourba</span> 
      </div>
      <div class="reponse">
        <span>Tegne</span> 
      </div>
  </ion-card>


</ion-content>
